<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mobi Kunst Guide</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ng-container *ngIf="nearestBeacon; else noBaconFound">
    <img [src]="nearestBeacon.thumbnail">
    <h2>{{nearestBeacon.objectTitle}}</h2>
    <h2>{{nearestBeacon.objectPainter}}</h2>
    <button ion-button icon-start (click)="showPaintingInfo(nearestBeacon.objectURL)">
      <ion-icon name="paper"></ion-icon>
      Lesen
    </button>
    <br/><br>
    <button ion-button (click)="playPaintingInfo(nearestBeacon.objectId, nearestBeacon.soundFile)" *ngIf="!playingInProgress">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button (click)="stopPaintingInfo(nearestBeacon.objectId)" *ngIf="playingInProgress">
      <ion-icon name="square"></ion-icon>
    </button>
  </ng-container>

  <ng-template #noBaconFound>
    Kein Objekt in der Nähe.
  </ng-template>
</ion-content>