<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mobi Kunst Guide</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ng-container *ngIf="nearestBeacon; else noBaconFound">
    <img [src]="nearestBeacon.objectImageFile" style="width:100%;">
    <h2>{{nearestBeacon.objectTitle}}</h2>
    <p><b>Künstler:</b> {{nearestBeacon.objectPainter}}</p>
    <p><b>Stil:</b> {{nearestBeacon.objectArtStyle}}</p>
    <button ion-button icon-start (click)="showPaintingInfo(nearestBeacon.objectURL)">
      <ion-icon name="paper"></ion-icon>
      Info lesen
    </button>
    <button ion-button icon-start (click)="playPaintingInfo(nearestBeacon.objectId, nearestBeacon.objectSoundFile)" *ngIf="!playingInProgress">
      <ion-icon name="play"></ion-icon>
      Info abspielen
    </button>
    <button ion-button icon-start (click)="stopPaintingInfo(nearestBeacon.objectId)" *ngIf="playingInProgress">
      <ion-icon name="square"></ion-icon>
      Info stoppen
    </button>
  </ng-container>

  <br/>
  <ng-template #noBaconFound>
    Kein Objekt in der Nähe.
  </ng-template>
</ion-content>